*{
    margin: 0%;
    border: none;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgba(0, 0, 0, 0.85)url(./food\ blur\ bg.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
span{
    color: red;
}
.title{
    margin: 20px;
    display: flex;
    color: white;

}
.title h1{
    text-shadow: 
        0.025em 0.025em 0 rgb(159, 7, 58),
        0.05em 0.05em 0 rgb(214, 214, 21),
        0.075em 0.075em 0 rgb(211, 11, 11),
        0.1em 0.1em 0 black;
    letter-spacing: 3px;
}
img{
    width: 600px;
    margin: 50px;
    position: absolute;
    margin-left: 430px;
    margin-top: 330px;
    transform: translate(-50%,-50%);
    animation: myfirst 30s infinite linear;
}
@keyframes myfirst{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
section{
    display: flex;
    margin-top: 10px;
    margin-left: 900px;
    width: fit-content; 
}
.form-box:hover{
    box-shadow: 1px 1px 10px #0599fc,
                1px 1px 10px #e43e19;
    border-radius: 20px;
}
.form-box{
    position: relative;
    width: 400px;
    height: 700px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    color: #fff;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.forget a{
    margin-left: 100px;
    margin-top: 10px;
    font-size: large;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 4px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: green;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: -10px;
}
.register{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
    letter-spacing: 3px;
}
.register p a{
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 900;
}
.register p a:hover{
    text-decoration:underline;
}
